# Build output
bin/
obj/
publish/
[Dd]ebug/
[Rr]elease/

# Visual Studio
.vs/
*.user
*.suo
*.rsuser
*.userprefs

# Rider / VS Code
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Wasmer local cache
.wasmer/
